<div class="container mt-5">
    <h2>Carts({{countCart}})</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {{#each courses}}
        <div class="col mt-3">
            <div class="card" style="width: 18rem;">
                <a href="/course/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">

                </a>
                <div class="card-body">
                    <a href="/course/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>

                    </a>
                    <p class="card-text">{{this.decription}}</p>
                    <a href="/course/addCart/{{this.slug}}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- //paging --}}
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page=">Next</a></li>
        </ul>
    </nav>
</div>